/* src/components/Navbar.css */

.Navbar {
    background-color: #2e7d32;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .Navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .Navbar a:hover {
    background-color: #388e3c;
    color: white;
  }
  